.header {
  display: block;
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.35);
  z-index: 1;

  button {
    cursor: pointer;
  }

  .header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .back-button {
      border: none;
      background-color: transparent;
      margin-right: 0.5rem;
      border-radius: 1rem;
      padding: 0.5rem 0.675rem;

      &:hover {
        background-color: silver;
      }
    }

    .logout-button {
      background-color: transparent;
      border: 1px solid silver;
      border-radius: 0.5rem;

      svg {
        margin-right: 1rem;
      }

      &:hover {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--on-accent-color);
      } 
    }
  }
}