
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;

  .footer-container {
    background-color: transparent;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}